<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
   {{>navbar}}


  <div class="container_fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
              <img src="images/about.webp" class="img-fluid" title="shirish bashyal">
            </figure>
          </div>

         
          
          <!-- right side div -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to weather app</p>
            <h1>I Am A <span class="text-clr">Mern Stack Developer</span> Student And A Freelancer</h1>
            <a href="https://www.facebook.com/shirish.bashyal.5/" target="_blank"><button>About me</button></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  {{>footer}}
</body>
</html>
